/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(253, 253, 253);
}

.menu {
  display: none;
}

/* Header */

#header {
  width: 80%;
  margin: 15% auto 0;
  text-align: center;
}

#header h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 5rem;
  font-weight: 700;
}

#header h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  margin-top: 5%;
}

/* Main */

#main {
  width: 80%;
  margin: auto;
  padding-top: 10%;
}

.event {
  margin-bottom: 5%;
}

#filters {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media (max-width: 600px) {

  .menu {
    display: inline;
    position: relative;
    margin: 5%;
  }

  #header {
    margin-top: 20%;
  }

  #header h1 {
    font-size: 2.5rem;
  }

  #header h3 {
    font-size: 1.2rem;
  }

  #filters {
    display: none;
  }
}

