/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(253, 253, 253);
}

/* Sticky */

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/* Header */

#header {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 15%;
}

#header h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 5rem;
  font-weight: 700;
}

#header h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  margin-top: 5%;
}

/* Main */

#main {
  width: 80%;
  margin: auto;
  padding-top: 10%;
}

#events {
  height: 800px;
}
 /* Dropdown */

.event {
  margin-bottom: 5%;
}

#filters {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media (max-width: 600px) {

  #header h1 {
    font-size: 2.5rem;
  }

  #header h3 {
    font-size: 1.2rem;
  }

  #filters {
    display: none;
  }
}

