{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'events/leaderboard.css' %}">

</head>
<body>

<div class="content">

    <div class="leaderboard flex column wrap">
        <div class="leaderboard-table flex column">
            <div class="leaderboard-header flex column grow">

                <div class="filter-by flex grow wrap">
                    <div class="time-filter flex grow">
                        <div class="row-button pointer row-button--active align-center">Today</div>
                        <div class="row-button pointer align-center">This week</div>
                        <div class="row-button pointer align-center">All-time</div>
                    </div>
                    <div class="subject-filter flex grow">
                        <div class="table-tab pointer flex grow justify-center align-center tab-active">
                            <svg class="menu-link-icon" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                            </svg>
                            Users
                        </div>
                    </div>
                </div>

                <div class="leaderboard-row flex align-center row--header" style="border-radius: 0 !important;">
                    <div class="row-position">Position</div>
                    <div class="row-collapse flex align-center">
                        <div class="row-user--header">Volunteer</div>
                        <div class="row-team--header">City</div>
                        <div class="row-rank--header">Rank</div>
                    </div>
                    <div class="row-calls">Events</div>
                </div>
            </div>

            <div class="leaderboard-body flex column grow">
                {% for user in users %}
                    <div class="leaderboard-row flex align-center">
                        <div class="row-position">1</div>
                        <div class="row-collapse flex align-center">
                            <div class="row-caller flex">
                                <img class="avatar"
                                     src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/225473/ruffalo-avatar.png"/>
                                <div class="row-user">{{ user.user.username }}</div>
                            </div>
                            <div class="row-team">Electoral Avengers</div>
                            <div class="row-rank">Superhero</div>
                        </div>
                        <div class="row-calls">{{ user.points }}</div>
                    </div>
                {% endfor %}


                <div class="leaderboard-footer flex align-center">
                    Page 1 of 2 <a class="footer-btn pointer">Next</a> 25 of 37 items
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>